* {
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0px;
}

.header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 3rem;
}

.header * {
    color: #4180AB;
}

.header *:hover {
    color: #1F3540;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right:hover * {
    color: #1F3540;
    cursor: pointer;
}

.header-right {
    float: right;
}

.title {
    position: relative;
    font-size: 3rem;
    text-align: center;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.search {
    text-align: center;
}

.search-text {
    width: 70%;
    font-size: 1.2rem;
    margin-top: 20px;
}

.search-button {
    background-color: #4180AB;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-top: 20px;
}

.search-button:hover {
    background-color: #1F3540;
}

.results {

}

.issue-box {
    padding-top: 10px;
}

.issue {
    border: 2px solid grey;
    border-radius: 10px;
    height: 100%;
    padding: 0px 2px 0px 2px;
}

.issue-info {
    margin: 0px;
}

.issue-title {
    text-align: left;
}

.subtitle {
    font-size: 0.7rem;
    text-align: left;
}

.created-at {
    font-size: 0.7rem;
    text-align: left;
    display: inline;
}

.labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-end;
}

.label {
    margin: 0px 5px 5px 0px;
    padding: 0px 5px 0px 5px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

.icon {

}
