<!doctype html>
<html>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% extends "layout.html" %}

    {% block content %}
        <form id="search" action = "/" method="post">
            <input id="search-text" type="text" name="language" placeholder="Try &quot;Python&quot;" /><br>
            <input type="radio" name="sort-chrono" value = "ascending"/>Oldest First<br>
            <input type="radio" name="sort-chrono" value = "descending" />Newest First<br>
            <input id="search-button" type = "submit" value = "Search" /></p>
        </form>
        <div id="results">{% block results %}{% endblock %}</div>
    {% endblock %}
</html>
