<!doctype html>
<html>
    <head>
        <title>Beginner Issues</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/1334a830a3.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="header-left">
                <a href="https://github.com/KirwanElmsly/beginner-issues" target="_blank" class="login-btn btn btn-github">beginner-issues</a>
            </div>
            <div class="header-right">
                <a href="/login" class="login-btn btn btn-github"><i class="fa fa-github"></i> Sign in</a>
            </div>
        </div>
        <div class="title">Find beginner level issues on GitHub to start contributing to open source projects!</div>
        <div id="content">
            <div class="search">
                <input class="search-language" id="language" type="text" name="language" placeholder="Try &quot;python&quot;" /><br>
                <input class="search-labels" id="labels" type="text" name="labels" placeholder="Try &quot;beginner, easy, good-first-issue&quot;" /><br>
                <input class="btn search-button" id="search" value="Search" />
            </div>
        </div>

        <div class="footer">
            by Kirwan
        </div>
        {% block results %}{% endblock %}
        <script src="{{ url_for('static', filename='index-script.js') }}"></script>
    </body>
</html>
